# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*Release/*
lib/
src/SILABS_STARTUP.A51
inc/InitDevice.h
inc/config/cslib_config.h
.settings/
inc/config/cslib_hwconfig.h
inc/config/cslib_sensor_descriptors.h
src/InitDevice.c
*Debug/*
